# Carpetas de compilación a ignorar
build/
ext/
sass/
app/
resources/sass/.sass-cache/

# Archivos o ejecutables a ignorar
.architect
.sencha/
app.json
bootstrap.css
bootstrap.js
bootstrap.json
bootstrap.jsonp
classic.json
classic.jsonp
modern.json
modern.jsonp
app.js
app.json.meta
build.xml
build.settings
index.html

workspace.json